<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunma.system.mapper.XmOrderMapper">
    
    <resultMap type="XmOrder" id="XmOrderResult">
        <result property="id"    column="id"    />
        <result property="customerName"    column="customer_name"    />
        <result property="takeName"    column="take_name"    />
        <result property="orderTypeId"    column="order_type_id"    />
        <result property="status"    column="status"    />
        <result property="amount"    column="amount"    />
        <result property="description"    column="description"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="deadline"    column="deadline"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectXmOrderVo">
        select id, customer_name, take_name, order_type_id, status, amount,  description, is_delete, deadline, create_time, update_time, create_by, update_by from xm_order
    </sql>

    <select id="selectXmOrderList" parameterType="XmOrder" resultMap="XmOrderResult">
        <include refid="selectXmOrderVo"/>
        <where>  
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="takeName != null  and takeName != ''"> and take_name like concat('%', #{takeName}, '%')</if>
            <if test="orderTypeId != null  and orderTypeId != ''"> and order_type_id = #{orderTypeId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="params.beginDeadline != null and params.beginDeadline != '' and params.endDeadline != null and params.endDeadline != ''"> and deadline between #{params.beginDeadline} and #{params.endDeadline}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
        </where>
    </select>
    
    <select id="selectXmOrderById" parameterType="Long" resultMap="XmOrderResult">
        <include refid="selectXmOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertXmOrder" parameterType="XmOrder" useGeneratedKeys="true" keyProperty="id">
        insert into xm_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerName != null and customerName != ''">customer_name,</if>
            <if test="takeName != null and takeName != ''">take_name,</if>
            <if test="orderTypeId != null and orderTypeId != ''">order_type_id,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="amount != null">amount,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="isDelete != null and isDelete != ''">is_delete,</if>
            <if test="deadline != null">deadline,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerName != null and customerName != ''">#{customerName},</if>
            <if test="takeName != null and takeName != ''">#{takeName},</if>
            <if test="orderType != null and orderType != ''">#{orderType},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="amount != null">#{amount},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="isDelete != null and isDelete != ''">#{isDelete},</if>
            <if test="deadline != null">#{deadline},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateXmOrder" parameterType="XmOrder">
        update xm_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerName != null and customerName != ''">customer_name = #{customerName},</if>
            <if test="takeName != null and takeName != ''">take_name = #{takeName},</if>
            <if test="orderTypeId != null and orderTypeId != ''">order_type_id = #{orderTypeId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete},</if>
            <if test="deadline != null">deadline = #{deadline},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXmOrderById" parameterType="Long">
        delete from xm_order where id = #{id}
    </delete>

    <delete id="deleteXmOrderByIds" parameterType="String">
        delete from xm_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>